<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/fragment.css}" rel="stylesheet">

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>

<body>

    <!-- th:replace="[파일 경로 :: 조각 이름]" -->
    <div th:replace="fragments/header::header"></div>

    <div layout:fragment="content" class="content"></div>

    <div th:replace="fragments/footer::footer"></div>
    <script type="text/javascript" src="/js/fragment.js"></script>
</body>

</html>