<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:status="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
    <div id="contents">
        <h1>문의 글보기</h1>
        <table border="1" width="70%">
            <tr>
                <td>글쓴이</td>
                <td>
                    <p><td th:text="${qboard.id}"></td></p>
                </td>
            </tr>
            <tr>
            <tr>
                <td>제목</td>
                <td>
                    <p><td th:text="${qboard.title}"></td></p>
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <p><td th:text="${qboard.content}"></td></p>
                </td>
            </tr>
            <tr>
                <td>이미지</td>
                <td>
                    <img src="/img/1.png">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit" th:onclick="|location.href='@{/qna/edit}'|">수정하기</button>
                    <button type="delete">삭제하기</button>
                    <button type="button"th:onclick="|location.href='@{/qna/list}'|">목록보기</button>
                </td>
            </tr>
        </table>
    </div>
</div>