<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:status="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
    <div id="contents">

        <form name="Form" method="post" th:action="@{'/ask/delete/' + ${boardWriteDTO.id}}"
              th:object="${boardWriteDTO}">
            <div id="board">
                <h1>문의 글보기</h1>
                <table border="1" width="70%">
                    <tr>
                        <td>글쓴이</td>
                        <td th:text="${boardWriteDTO.member.getName}"></td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td th:text="${boardWriteDTO.title}"></td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td th:text="${boardWriteDTO.content}"></td>
                    </tr>
                    <tr>
                        <td>이미지</td>
                        <td>
                            <img th:src="${boardWriteDTO.askBoardImageDTO[0].Url}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="button" th:onclick="|location.href='@{'/ask/edit/' + ${boardWriteDTO.id}}'|">수정하기</button>
                            <button type="submit">삭제하기</button>
                            <button type="button" th:onclick="|location.href='@{/ask/list}'|">목록보기</button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>

        <div id="commentWrite" th:if="${boardWriteDTO.askStatus == T(com.ditto.constant.AskStatus).NOT_ASK}"
             sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <form name="form" method="post" th:action="@{'/ask/admin/write/'+ ${boardWriteDTO.id}}"
                  enctype="multipart/form-data" th:object="${commentWriteDTO}">
                <table border="1" width="70%">
                    <tr>
                        <td>내용</td>
                        <td>
                            <textarea name="content" style="width:90%; height:100px;" th:field="*{content}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>첨부파일</td>
                        <td>
                            <input type="file" name="boardImgFile">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submit">작성완료</button>
                        </td>
                    </tr>
                </table>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>

        <div id="commentDetail">
        <form name="Form" method="post" th:action="@{'/ask/admin/delete/' + ${boardWriteDTO.id}}"
              th:object="${commentDetail}" th:unless="${boardWriteDTO.askStatus == T(com.ditto.constant.AskStatus).NOT_ASK}">
            <table border="1" width="70%">
                <tr>
                    <td>글쓴이</td>
                    <td th:text="${commentDetail.member.getName}"></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td th:text="${commentDetail.content}"></td>
                </tr>
                <tr>
                    <td>이미지</td>
                    <td>
                        <img th:src="${commentDetail.askBoardImageDTO[0].Url}">
                    </td>
                </tr>
                <tr sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <td colspan="2" align="center">
                        <button type="button" th:onclick="|location.href='@{'/ask/admin/edit/' + ${boardWriteDTO.id}}'|">수정하기</button>
                        <button type="submit">삭제하기</button>
                    </td>
                </tr>
            </table>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
        </div>

    </div>
</div>