<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:status="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
        $("#searchBtn").on("click",function(e) {
            e.preventDefault();
            page(0);
            });
        });

    function page(page){
        var searchDateType = $("#searchDateType").val();
        var searchAskStatus = $("#searchAskStatus").val();
        var searchBy = $("#searchBy").val();
        var searchQuery = $("#searchQuery").val();

        location.href="/ask/list/" + page + "?searchDateType=" + searchDateType
        + "&searchAskStatus=" + searchAskStatus
        + "&searchBy=" + searchBy
        + "&searchQuery=" + searchQuery;
    }
    </script>
</th:block>

<div layout:fragment="content">
    <div id="contents">

        <h1>문의 게시판</h1>
    <form th:action="@{'/ask/list/' + ${askBoards?.number}}" method="get"  th:object="${askBoards}">
        <table border="1" width="70%">
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
                <th>상태</th>
            </tr>
            <tbody>
                <tr th:each="askBoards, status: ${askBoards.getContent()}">
                    <td th:text="${max-now-status.index}"></td>
                    <td><a th:text="${askBoards.title}" th:href="@{'/ask/detail/'+${askBoards.id}}"></a></td>
                    <td th:text="${askBoards.member.getName}"></td>
                    <td th:text="${#temporals.format(askBoards.regTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${askBoards.askStatus == T(com.ditto.constant.AskStatus).NOT_ASK} ? '답변대기' : '답변완료'"></td>
                </tr>
            </tbody>
        </table>

        <table border="1" width="70%">
            <tr align="right">
                <td>
                    <button type="button" th:onclick="|location.href='@{/ask/write}'|">문의 글쓰기</button>
                </td>
            </tr>
        </table>

        <div th:with="start=${(askBoards.number/maxPage)*maxPage + 1}, end=(${(askBoards.totalPages == 0) ? 1 : (start + (maxPage - 1) < askBoards.totalPages ? start + (maxPage - 1) : askBoards.totalPages)})" >
            <ul>
                <li th:if="${askBoards.number != 0}">
                    <a th:href="@{'/ask/list/'+${askBoards.number - 1}}">
                        <span>이전</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${askBoards.number eq page-1}?'active':''">
                    <a th:href="@{'/ask/list/'+${page - 1}}" th:inline="text">[[${page}]]</a>
                </li>

                <li th:if="${askBoards.number != askBoards.totalPages - 1 and max>4}">
                    <a th:href="@{'/ask/list/'+${askBoards.number + 1}}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>

        <div th:object="${askBoardSearchDTO}">
            <select th:field="*{searchDateType}">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchAskStatus}">
                <option value="">답변상태(전체)</option>
                <option value="NOT_ASK">답변대기</option>
                <option value="ASK">답변완료</option>
            </select>
            <select th:field="*{searchBy}">
                <option value="title">제목</option>
                <option value="member.getName">작성자</option>
            </select>
            <input th:field="*{searchQuery}" type="text" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit">검색</button>
        </div>
        </form>

    </div>
</div>