<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <link th:href="@{/css/ditto2.css}" rel="stylesheet">
    <link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel="stylesheet"/>
    <script th:src="@{https://code.jquery.com/jquery-3.7.0.min.js}" rel="stylesheet"></script>
    <script th:href="@{ditto2.js}" rel="stylesheet"></script>
</head> <!--head 끝-->


<body>
<div layout:fragment="content">

    <br><br><br><br><br><br>
    <div id="main_main3">
        <div id="main_main3_table">
            <table>
                <thead>
                <tr>
                    <th>
                        [<span th:text="${boardDTO.boardCategory}" ></span>]
                        <span th:text="${boardDTO.title}" ></span>
                        <span th:text="${boardDTO.regTime}" ></span>
                        <span th:text="${boardDTO.viewCount}" ></span>
                    </th>
                </tr>
                </thead>
                <tbody>

                </tr>
                <tr>
                    <td>
                        <span th:text="${boardDTO.title}" ></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span th:text="${boardDTO.boardPrev}" ></span>
                    </td>
                </tr>
                <tr>
                    <td>
<!--                        <span th:text="${boardDTO.boardAfter}" ></span>-->
                    </td>
                </tr>

                </tbody>
            </table>
            <form th:action="'/board/getBoard/' + ${boardDTO.id}" method="post">
                <input type="submit" value="게시글 삭제">
            </form>
            <button type="submit"  onclick="location.href='/board/'">목록으로</button>
                <button type="submit"   th:onclick="|location.href='@{/board/create/{id}(id=${boardDTO.id})}'|" >수정하기</button>
        </div>
    </div>
</div>
</div>
</div>
<th:block layout:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/ditto2.js"></script>
</th:block>
</body>
</html>