<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="backdabang1.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script type="text/javascript" src="backdabang1.js"></script>
<title>Insert title here</title>
</head>
<body>
<!-- 장바구니 모달 -->
<div >
		<table id="shopBasket">
			<thead>
				<tr>
					<td>check box</td>
					<td>상품이미지</td>
					<td>상품정보</td>
					<td>옵션</td>
					<td>상품총금액</td>
				</tr>
			</thead>
			<tbody class="shopBasket_tbody">
				<tr>
					<td><input type="checkbox" class="chkBox" checked="checked"></td>
					<td><img class="productImg"></img></td>
					<td>
						<p class="productName"></p>
						<input type="number" class="price" value="">
					</td>
					<td>
						<select class="quantity">
							<option class="quantity1" value="1">1</option>
							<option class="quantity1" value="2">2</option>
							<option class="quantity1" value="3">3</option>
							<option class="quantity1" value="4">4</option>
							<option class="quantity1" value="5">5</option>
							<option class="quantity1" value="6">6</option>
							<option class="quantity1" value="7">7</option>
							<option class="quantity1" value="8">8</option>
							<option class="quantity1" value="9">9</option>
							<option class="quantity1" value="10">10</option>
							<option class="quantity1" value="11">11</option>
						</select>개
					</td>
					<td>
						<input type="number" class="amount">
						<input type="button" class="cancleBtn" value="취소">
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="chkBox" checked="checked"></td>
					<td><img class="productImg"></img></td>
					<td>
						<p class="productName"></p>
						<input type="number" class="price" value="">
					</td>
					<td>
						<select class="quantity">
							<option class="quantity1" value="1">1</option>
							<option class="quantity1" value="2">2</option>
							<option class="quantity1" value="3">3</option>
							<option class="quantity1" value="4">4</option>
							<option class="quantity1" value="5">5</option>
							<option class="quantity1" value="6">6</option>
							<option class="quantity1" value="7">7</option>
							<option class="quantity1" value="8">8</option>
							<option class="quantity1" value="9">9</option>
							<option class="quantity1" value="10">10</option>
							<option class="quantity1" value="11">11</option>
						</select>개
					</td>
					<td>
						<input type="number" class="amount">
						<input type="button" class="cancleBtn" value="취소">
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="chkBox" checked="checked"></td>
					<td><img class="productImg"></img></td>
					<td>
						<p class="productName"></p>
						<input type="number" class="price" value="">
					</td>
					<td>
						<select class="quantity">
							<option class="quantity1" value="1">1</option>
							<option class="quantity1" value="2">2</option>
							<option class="quantity1" value="3">3</option>
							<option class="quantity1" value="4">4</option>
							<option class="quantity1" value="5">5</option>
							<option class="quantity1" value="6">6</option>
							<option class="quantity1" value="7">7</option>
							<option class="quantity1" value="8">8</option>
							<option class="quantity1" value="9">9</option>
							<option class="quantity1" value="10">10</option>
							<option class="quantity1" value="11">11</option>
						</select>개
					</td>
					<td>
						<input type="number" class="amount">
						<input type="button" class="cancleBtn" value="취소">
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="chkBox" checked="checked"></td>
					<td><img class="productImg"></img></td>
					<td>
						<p class="productName"></p>
						<input type="number" class="price" value="">
					</td>
					<td>
						<select class="quantity">
							<option class="quantity1" value="1">1</option>
							<option class="quantity1" value="2">2</option>
							<option class="quantity1" value="3">3</option>
							<option class="quantity1" value="4">4</option>
							<option class="quantity1" value="5">5</option>
							<option class="quantity1" value="6">6</option>
							<option class="quantity1" value="7">7</option>
							<option class="quantity1" value="8">8</option>
							<option class="quantity1" value="9">9</option>
							<option class="quantity1" value="10">10</option>
							<option class="quantity1" value="11">11</option>
						</select>개
					</td>
					<td>
						<input type="number" class="amount">
						<input type="button" class="cancleBtn" value="취소">
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>상품총금액:</td>
					<td><input type="number" id="totalPrice" value="0"></td>
				</tr>
			</tfoot>
		</table>
	</div>
<div id="container">
	<div id="head">
		<div id="header1">	
			<a href="mainpage.html">
			<img src="img/11.png" id="head1-1"></a>
			
			
			
			<div id="head1-2">
			
	
				<button class="headbtn1">로그인</button>
				
	<!-- 로그인 모달 -->
	<div class="modal hidden">
		<div class="wrapper">
			<form action="">
				<p class="loginfont">아이디</p>
				<div class="input-box">
					<i class='bx bx-user-circle'></i>
					<input type="text" id="id" placeholder="ID" maxlength="20">
				</div>

				<p class="loginfont">비밀번호</p>
				<div class="input-box">
					<i class='bx bx-lock'></i>
					<input type="password" id="password" placeholder="PASSWORD" maxlength="20">
				</div>

				<div>
					<input class="login" type="submit" value="로그인">
				</div>

				<div class="autologin">
					<input id="cb" type="checkbox">
					<label for="cb"></label>
					<label id="auto">자동로그인</label>
					<a href="#">아이디/비밀번호찾기</a>
				</div>

				<div>
					<input id="signup" type="button" onclick="location.href='index.html'" value="회원가입">
				</div>

				<div>
					<a href="#"><i id="closebtn4" class='bx bx-x bx-flashing bx-rotate-90'></i></a>
				</div>
			</form>
		</div>
	</div>
	<span class="nonetext">|</span>
	
	<!-- 회원가입 모달 -->
		<button class="headbtn2">회원가입</button>
		<div class="modal2 hidden2">
			<div class="wrapper2">
				<div id="toptitle">
				<h1 id="topfont">Ditto</h1>
				<label>회원가입 전, Ditto 약관들을 확인해주세요.</label>
			</div>
			
				<form name="frmTos" action="" class="TosForm" onsubmit="return CheckForm(this)">
					<span>
						<a href="#"><i id="closebtn2" class='bx bx-x bx-flashing bx-rotate-90' /></i></a>
					</span>

					<div id="Allchk">
						<input type="checkbox" id="Allcheck" name="Allcheck" onclick="selectAll(this);">
						<label for="Allcheck" id="Allcheckfont">
							Ditto 이용약관, 개인정보 수집 및 이용, 위치정보 이용약관(선택),
							프로모션 정보 수신(선택)에 모두 동의합니다.
						</label>
					</div>

					<div id="AllcheckBox">
						<input type="checkbox" id="termOfService" name="agreements" value="termOfService">
						<label for="Tos">이용약관 동의</label><label id="vital"> (필수)</label>
					</div>

					<div id="AllcheckText">
						<p id="agreeText">
							Ditto에 오신 여러분을 환영합니다. Ditto 서비스 및 제품(이하 ‘서비스’)을 이용해
							주셔서 감사합니다. 본 약관은 다양한 Ditto 서비스의 이용과 관련하여
							Ditto 서비스를 제공하는 Ditto 주식회사(이하 Ditto)와 이를 이용하는 Ditto 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를
							설명하며, 아울러 여러분의 Ditto 서비스 이용에 도움이 될 수 있는
							유익한 정보를 포함하고 있습니다.
						</p>
					</div>

					<div id="AllcheckBox">
						<input type="checkbox" id="privacy" name="agreements" value="privacy">
						<label for="privacy">개인정보 수집 및 이용 동의</label><label id="vital"> (필수)</label>
					</div>

					<div id="AllcheckText">
						<p id="agreeText">
							Ditto 개인정보보호법에 따라 회원가입 신청하시는 분께 수집하는
							개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및
							이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 안내
							드리오니 자세히 읽은 후 동의하여 주시기 바랍니다.
						</p>
					</div>

					<div id="AllcheckBox">
						<input type="checkbox" id="promotion" name="agreements" value="promotion">
						<label for="promotion">프로모션 정보 수신 동의</label>
					</div>

					<div id="AllcheckText">
						<p id="agreeText">
							제공하는 이벤트/혜택 등 다양한 정보를 휴대전화(앱
							알림 또는 문자), 이메일로 받아보실 수 있습니다. 일부 서비스(별도
							회원 체계로 운영하거나 가입 이후 추가 가입하여 이용하는
							서비스 등)의 경우, 개별 서비스에 대해 별도 수신 동의를 받을 수
							있으며, 이때에도 수신 동의에 대해 별도로 안내하고 동의를 받습니다.
						</p>
					</div>
					<div>
						<input type="submit" value="확인" id="chkbtn">
					</div>
				</form>
			</div>
		</div>

				<div id="head1-3">
					<div id="headsns1"></div>
					<div id="headsns2"></div>
				</div>
			</div>	
		</div>
		
		<!-- 머리2 -->
		<div id="header2">
			<div id="menu">
				<ul>
					<li>소개
						<ul>
							<li>소개</li>
							<li>매장</li>
							<li>뭐적지?</li>
						</ul>
					</li>
					<li>메뉴
						<ul>
							<li>음료&amp;커피</li>
							<li>디저트</li>
							<li>상품</li>
						</ul>
					</li>
					<li>멤버십
						<ul>
							<li>멤버십안내</li>
							<li>앱소개</li>
							<li>신메뉴체험단</li>
						</ul>
					</li>
					<li>게시판
						<ul>
							<li>창업안내</li>
							<li>자주묻는질문</li>
							<li>QNA게시판</li>
						</ul>
					</li>					
					<li>소식
						<ul>
							<li>새소식</li>
							<li>이벤트</li>
						</ul>
					</li>									
				</ul>	
			</div>
		</div>
	</div>
	
	<div id="popup">
			<div id="popupbox">
				<img src="img/popup.png">
				<button id="popupbtn" onclick="popupClose()">닫기</button>
			</div>
		</div>
		
		<button id="topbtn" title="gototop">Top</button>
		
	</div>
<div id="main">
	<div id="main_main1">
	<img src="nbimg/shop_main06.jpg" id="main_main1_img1">
	<div id="main_main1_text">
		<h1 id="main_main1_text1">신메뉴</h1>
		<div id="main_main1_text2">
		지금 바로 가까운 매장에서 빽다방 신메뉴를 만나 보실 수 있습니다.
		</div>
	</div>
	<div></div>
	</div>
	<div id="main_main2">
	<ul>
		<li>신메뉴</li>
		<li>커피</li>
		<li>음료</li>
		<li>아이스크림/디저트</li>
		<li>빽스치노</li>
	</ul>
	<h1 id="main_main2_h1">추천메뉴</h1>
	</div>
	<span class="main_main3_article1_controller1" id="prev">&lang;</span>
	<span class="main_main3_article1_controller1" id="next">&rang;</span>
	<div id="main_main3">
		<div class="main_main3_article1" id="main_main3_article1">  
			<div class="main_main3_article1_div" id="main_main3_article1_div1">
				<img src="nbimg/커피/1.png">
				<span></span>
				<p>원조커피(ICED)</p>
				<div class="main_main3_article1_description" id="main_main3_article1_description1">
					<div class="main_main3_article1_description1_close" id="main_main3_article1_description1_close1">X</div>
					<h3 >더블에스프레소</h3>
					<h5>DOUBLE ESPRESSO</h5>
					<div>브라질 원두 블렌딩으로 다크초콜릿, 카라멜, 견과류의 고소함을 느낄 수 있는 에스프레소</div>
					<div style="margin-top:180px;">※1회 제공량 기준 : 60ml</div>
					<div id="main_main3_article1_description1_ulDiv1">
						<ul class="main_main3_article1_description1_ul" id="main_main3_article1_description1_ul1">
							<li><span>카페인(mg)</span><span>237</span></li>
							<li><span>나트륨(mg)</span><span>0</span></li>
							<li><span>포화지방(g)</span><span>0</span></li>
							<li><span>칼로리(kcal)</span><span>22</span></li>
							<li><span>당류(g)</span><span>0</span></li>
							<li><span>단백질(g)</span><span>1</span></li>
						</ul>
					<div style="font-size: 10px; text-align: center;">(매장 상황에 따라 판매하지 않을 수 있습니다.)</div>
					</div>
				</div>
			</div>
			<div class="main_main3_article1_div" id="main_main3_article1_div2">
				<img src="nbimg/커피/2.png">
				<span></span>
				<p>빽's 카페라떼(ICED)</p>
				<div  class="main_main3_article1_description" id="main_main3_article1_description2">
					<div class="main_main3_article1_description1_close" id="main_main3_article1_description2_close1">X</div>
					<h3 >더블에스프레소</h3>
					<h5>DOUBLE ESPRESSO</h5>
					<div>브라질 원두 블렌딩으로 다크초콜릿, 카라멜, 견과류의 고소함을 느낄 수 있는 에스프레소</div>
					<div style="margin-top:180px;">※1회 제공량 기준 : 60ml</div>
					<div id="main_main3_article1_description2_ulDiv1">
						<ul class="main_main3_article1_description1_ul" id="main_main3_article1_description1_ul2">
							<li><span>카페인(mg)</span><span>237</span></li>
							<li><span>나트륨(mg)</span><span>0</span></li>
							<li><span>포화지방(g)</span><span>0</span></li>
							<li><span>칼로리(kcal)</span><span>22</span></li>
							<li><span>당류(g)</span><span>0</span></li>
							<li><span>단백질(g)</span><span>1</span></li>
						</ul>
					<div style="font-size: 10px; text-align: center;">(매장 상황에 따라 판매하지 않을 수 있습니다.)</div>
					</div>
				</div>
			</div>
			<div class="main_main3_article1_div" id="main_main3_article1_div3">
				<img src="nbimg/커피/3.png">
				<span></span>
				<p>아이스티샷추가(아샷추)</p>
				<div class="main_main3_article1_description" id="main_main3_article1_description3">
					<div class="main_main3_article1_description1_close" id="main_main3_article1_description3_close1">X</div>
					<h3 >더블에스프레소</h3>
					<h5>DOUBLE ESPRESSO</h5>
					<div>브라질 원두 블렌딩으로 다크초콜릿, 카라멜, 견과류의 고소함을 느낄 수 있는 에스프레소</div>
					<div style="margin-top:180px;">※1회 제공량 기준 : 60ml</div>
					<div id="main_main3_article1_description3_ulDiv1">
						<ul class="main_main3_article1_description1_ul" id="main_main3_article1_description1_ul1">
							<li><span>카페인(mg)</span><span>237</span></li>
							<li><span>나트륨(mg)</span><span>0</span></li>
							<li><span>포화지방(g)</span><span>0</span></li>
							<li><span>칼로리(kcal)</span><span>22</span></li>
							<li><span>당류(g)</span><span>0</span></li>
							<li><span>단백질(g)</span><span>1</span></li>
						</ul>
					<div style="font-size: 10px; text-align: center;">(매장 상황에 따라 판매하지 않을 수 있습니다.)</div>
					</div>
				</div>
			</div>
			<div class="main_main3_article1_div" id="main_main3_article1_div4">
				<img src="nbimg/커피/4.png">
				<span></span>
				<p>아이스티샷추가(아샷추)</p>
				<div class="main_main3_article1_description" id="main_main3_article1_description4">
					<div class="main_main3_article1_description1_close" id="main_main3_article1_description4_close1">X</div>
					<h3 >더블에스프레소</h3>
					<h5>DOUBLE ESPRESSO</h5>
					<div>브라질 원두 블렌딩으로 다크초콜릿, 카라멜, 견과류의 고소함을 느낄 수 있는 에스프레소</div>
					<div style="margin-top:180px;">※1회 제공량 기준 : 60ml</div>
					<div id="main_main3_article1_description4_ulDiv1">
						<ul class="main_main3_article1_description1_ul" id="main_main3_article1_description4_ul1">
							<li><span>카페인(mg)</span><span>237</span></li>
							<li><span>나트륨(mg)</span><span>0</span></li>
							<li><span>포화지방(g)</span><span>0</span></li>
							<li><span>칼로리(kcal)</span><span>22</span></li>
							<li><span>당류(g)</span><span>0</span></li>
							<li><span>단백질(g)</span><span>1</span></li>
						</ul>
					<div style="font-size: 10px; text-align: center;">(매장 상황에 따라 판매하지 않을 수 있습니다.)</div>
					</div>
				</div>
			</div>
			<div class="main_main3_article1_div" id="main_main3_article1_div5">
				<img src="nbimg/커피/5.png">
				<span></span>
				<p>원조커피(ICED)</p>
				<div class="main_main3_article1_description" id="main_main3_article1_description5">
					<div class="main_main3_article1_description1_close" id="main_main3_article1_description5_close1">X</div>
					<h3 >더블에스프레소</h3>
					<h5>DOUBLE ESPRESSO</h5>
					<div>브라질 원두 블렌딩으로 다크초콜릿, 카라멜, 견과류의 고소함을 느낄 수 있는 에스프레소</div>
					<div style="margin-top:180px;">※1회 제공량 기준 : 60ml</div>
					<div id="main_main3_article1_description5_ulDiv1">
						<ul class="main_main3_article1_description1_ul" id="main_main3_article1_description5_ul1">
							<li><span>카페인(mg)</span><span>237</span></li>
							<li><span>나트륨(mg)</span><span>0</span></li>
							<li><span>포화지방(g)</span><span>0</span></li>
							<li><span>칼로리(kcal)</span><span>22</span></li>
							<li><span>당류(g)</span><span>0</span></li>
							<li><span>단백질(g)</span><span>1</span></li>
						</ul>
					<div style="font-size: 10px; text-align: center;">(매장 상황에 따라 판매하지 않을 수 있습니다.)</div>
					</div>
				</div>
			</div>
			<div class="main_main3_article1_div" id="main_main3_article1_div6">
				<img src="nbimg/커피/6.png">
				<span></span>
				<p>빽's 카페라떼(ICED)</p>
				<div class="main_main3_article1_description" id="main_main3_article1_description6">
					<div class="main_main3_article1_description1_close" id="main_main3_article1_description6_close1">X</div>
					<h3 >더블에스프레소</h3>
					<h5>DOUBLE ESPRESSO</h5>
					<div>브라질 원두 블렌딩으로 다크초콜릿, 카라멜, 견과류의 고소함을 느낄 수 있는 에스프레소</div>
					<div style="margin-top:180px;">※1회 제공량 기준 : 60ml</div>
					<div id="main_main3_article1_description6_ulDiv1">
						<ul class="main_main3_article1_description1_ul" id="main_main3_article1_description6_ul1">
							<li><span>카페인(mg)</span><span>237</span></li>
							<li><span>나트륨(mg)</span><span>0</span></li>
							<li><span>포화지방(g)</span><span>0</span></li>
							<li><span>칼로리(kcal)</span><span>22</span></li>
							<li><span>당류(g)</span><span>0</span></li>
							<li><span>단백질(g)</span><span>1</span></li>
						</ul>
					<div style="font-size: 10px; text-align: center;">(매장 상황에 따라 판매하지 않을 수 있습니다.)</div>
					</div>
				</div>
			</div>
			<div class="main_main3_article1_div" id="main_main3_article1_div7">
				<img src="nbimg/커피/7.png">
				<span></span>
				<p>아이스티샷추가(아샷추)</p>
				<div class="main_main3_article1_description" id="main_main3_article1_description7">
					<div class="main_main3_article1_description1_close" id="main_main3_article1_description7_close1">X</div>
					<h3 >더블에스프레소</h3>
					<h5>DOUBLE ESPRESSO</h5>
					<div>브라질 원두 블렌딩으로 다크초콜릿, 카라멜, 견과류의 고소함을 느낄 수 있는 에스프레소</div>
					<div style="margin-top:180px;">※1회 제공량 기준 : 60ml</div>
					<div id="main_main3_article1_description7_ulDiv1">
						<ul class="main_main3_article1_description1_ul" id="main_main3_article1_description7_ul1">
							<li><span>카페인(mg)</span><span>237</span></li>
							<li><span>나트륨(mg)</span><span>0</span></li>
							<li><span>포화지방(g)</span><span>0</span></li>
							<li><span>칼로리(kcal)</span><span>22</span></li>
							<li><span>당류(g)</span><span>0</span></li>
							<li><span>단백질(g)</span><span>1</span></li>
						</ul>
					<div style="font-size: 10px; text-align: center;">(매장 상황에 따라 판매하지 않을 수 있습니다.)</div>
					</div>
				</div>
			</div>
			
			
		</div>

<!--담기는 메뉴 -->		
		<div id="main_main3_article2">
			<ul>
				<li value="2000">
					<img src="nbimg/커피/1.png">
					<p>더블에스프레소</p>
				</li>
				<li value="5000">
					<img src="nbimg/커피/2.png">
					<p>아메리카노(HOT)</p>
				</li>
				<li value="7000">
					<img src="nbimg/커피/3.png">
					<p>아메리카노(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/4.png">
					<p>원조커피(HOT)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/5.png">
					<p>원조커피(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/6.png">
					<p>달달연유라떼(HOT)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/7.png">
					<p>달달연유라떼(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/8.png">
					<p>빽’s 카페라떼(HOT)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/9.png">
					<p>빽’s 카페라떼(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/10.png">
					<p>블랙펄카페라떼(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/11.png">
					<p>바닐라라떼(HOT)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/12.png">
					<p>바닐라라떼(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/13.png">
					<p>카페모카(HOT)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/14.png">
					<p>카페모카(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/15.png">
					<p>카라멜마키아또(HOT)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/16.png">
					<p>카라멜마키아또(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/17.png">
					<p>디카페인 콜드브루라떼(흑당)(ICED)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/18.png">
					<p>디카페인 콜드브루라떼(흑당)(HOT)</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/19.png">
					<p>콜드브루 오리지널 커피원액</p>
				</li>
				<li value="2000">
					<img src="nbimg/커피/20.png">
					<p>콜드브루 디카페인 커피원액</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- 다리 -->
	<div id="foot">
		<div id="footer1">
			<a href="mainpage.html">
			<img src="img/11.png" id="footlogo"></a>
			<div id="foottext">
				<a>HOME</a> |
				<a>ABOUT US</a> |
				<a>AGREEMENT</a> |
				<a>PRIVACY POLICY</a> |
				<a>GUIDE</a><br>
				회사이름<br>
				고객센터<br>
				은행<br>
				copyrights<br>
			</div>
			<div id="footer2">
				<div id="footsns1"></div>
				<div id="footsns2"></div>
			</div>
		</div>
	</div>


</body>
</html>