<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>

	<link th:href="@{/css/ditto1.css}" rel="stylesheet">
	<link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel="stylesheet"/>
	<script th:src="@{https://code.jquery.com/jquery-3.7.0.min.js}" rel="stylesheet"></script>
	<script th:href="@{ditto1.js}" rel="stylesheet"></script>
</head> <!--head 끝-->

<body>

<div layout:fragment="content">



<div id="main">
	<div id="main_main1">
	<img src="nbimg/shop_main06.jpg" id="main_main1_img1">
	<div id="main_main1_text">
		<h1 id="main_main1_text1">신메뉴</h1>
		<div id="main_main1_text2">
		지금 바로 가까운 매장에서 빽다방 신메뉴를 만나 보실 수 있습니다.
		</div>
	</div>
	<div></div>
	</div>
	<div id="main_main2">
	<ul>
		<li>신메뉴</li>
		<li>커피</li>
		<li>음료</li>
		<li>아이스크림/디저트</li>
		<li>빽스치노</li>
	</ul>
	<h1 id="main_main2_h1">추천메뉴</h1>
	</div>
	<span class="main_main3_article1_controller1" id="prev">&lang;</span>
	<span class="main_main3_article1_controller1" id="next">&rang;</span>

	<div id="main_main3">
		<div class="main_main3_article1" id="main_main3_article1">  
			<div class="main_main3_article1_div" id="main_main3_article1_div1">
				<img src="nbimg/커피/1.png">
				<span></span>
				<p>원조커피(ICED)</p>
				<div class="main_main3_article1_description" id="main_main3_article1_description1">
					<div class="main_main3_article1_description1_close" id="main_main3_article1_description1_close1">X</div>
					<h3 >더블에스프레소</h3>
					<h5>DOUBLE ESPRESSO</h5>
					<div>브라질 원두 블렌딩으로 다크초콜릿, 카라멜, 견과류의 고소함을 느낄 수 있는 에스프레소</div>
					<div style="margin-top:180px;">※1회 제공량 기준 : 60ml</div>
					<div id="main_main3_article1_description1_ulDiv1">
						<ul class="main_main3_article1_description1_ul" id="main_main3_article1_description1_ul1">
							<li><span>카페인(mg)</span><span>237</span></li>
							<li><span>나트륨(mg)</span><span>0</span></li>
							<li><span>포화지방(g)</span><span>0</span></li>
							<li><span>칼로리(kcal)</span><span>22</span></li>
							<li><span>당류(g)</span><span>0</span></li>
							<li><span>단백질(g)</span><span>1</span></li>
						</ul>
					<div style="font-size: 10px; text-align: center;">(매장 상황에 따라 판매하지 않을 수 있습니다.)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
	<th:block layout:fragment="script">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="/js/mainpage.js"></script>
	</th:block>
</body>

</html>