<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link th:href="@{/css/signUp.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</th:block>
<div layout:fragment="content">

    <form id="joinForm" name="joinForm" action="/members/new" role="form" method="post" th:object="${memberFormDTO}" onsubmit="return false;">

        <div class="main1">
            <h2 class="with-border">회원 가입</h2>
            <dl class="">
                <dt th:for="memberId">아이디<span id="required">*</span></dt>
                <dd>
                    <input th:field="*{memberId}" id="member_id" name="member_id" class="inputTypeText" placeholder="ID" value="" type="text"
                           maxlength="16">
                    <span id="idMsg" class="message error"></span>
                </dd>
            </dl>

            <dl>
                <dt th:for="password">비밀번호<span id="required">*</span></dt>
                <dd>
                    <div id="eyefocus">
                        <i class="fa fa-eye" aria-hidden="true" id=eye onclick="toggle()"></i>
                        <input th:field="*{password}" id="passwd" name="passwd" class="inputTypeText" value="" type="password"
                               placeholder="PASSWORD" maxlength="16">

                        <div id="tooltip">
                            <strong class="txtWarn">※비밀번호 입력 조건</strong>

                            <a href="#none" class="btnClose" onclick="closebtn();" tabindex="-1"> <!--tap사용불가능하게만듦-->

                                <img src="https://img.echosting.cafe24.com/skin/base/common/btn_close_tip.gif"
                                     alt="닫기"></a><!--이미지손상을우려해alt태그로이미지구분-->

                            <ul class="help">
                                <li>-대소문자+숫자+특수문자 조합,8자~15자</li>
                                <li>-입력가능 특수문자</li>
                                <li>-~! @ # $ % ^ * + = -</li>
                                <li>-공백 입력 불가능</li>
                                <li>-연속된 문자, 숫자 사용 불가능</li>
                                <li>-동일한 문자, 숫자를 반복해서 사용 불가능</li>
                                <li>-아이디 포함 불가능</li>
                            </ul>
                        </div>
                    </div>
                    <!-- 실험용! -->
                    <span id="testpw"></span>
                </dd>
            </dl>

            <dl>
                <dt>비밀번호 확인<span id="required">*</span></dt>
                <dd>
                    <div id="eyefocus">
                        <i class="fa fa-eye" aria-hidden="true" id="eyes" onclick="toggle()"></i>
                        <input id="user_passwd_confirm" name="user_passwd_confirm" class="inputTypeText" value=""
                               type="password" placeholder="CONFIRM PASSWORD" maxlength="16">
                    </div>
                    <span id="pwConfirmMsg" class="error"></span>
                </dd>
            </dl>

            <dl>
                <dt id="nameTitle" th:for="name">이름<span id="required">*</span></dt>
                <dd>
                    <input th:field="*{name}" id="name" name="name" class="inputTypeText" maxlength="20"> <!--최대문자수30-->
                    <!-- 실험용 -->
                    <span id="nameMsg"></span>
                </dd>
            </dl>

            <dl>
                <dt th:for="phoneNum">휴대전화<span id="required">*</span></dt>
                <dd>
                    <input th:field="*{phoneNum}" id="mobile" class="inputTypeText" maxlength="13"> <!--최대문자수30-->
                    <!-- 실험용 -->
                    <span id="mobileMsg"></span>
                </dd>
            </dl>

            <dl>
                <dt>주소<span id="required">*</span></dt>
                <dd>
                    <input th:field="*{zipcode}" type="text" id="zipcode" name="zipcode" size="7" placeholder="우편번호" value="1234" >
                    <input type="button" onclick="openZipSearch();" value="주소검색" id="post"><br>
                    <input th:field="*{streetAddress}" type="text" id="streetAddress" class="inputTypeText" name="streetAddress" placeholder="도로명 주소" value="1234">
                    <br>
                    <input th:field="*{detailAddress}" type="text" id="detailAddress" class="inputTypeText" name="detailAddress" placeholder="나머지 주소">
                </dd>
            </dl>

            <dl>
                <dt>이메일<span id="required">*</span></dt>
                <dd>
                    <input th:field="*{email}" type="text" class="inputTypeText" id="e_mail" name="e_mail">
                    <span id="emailMsg"></span>
                </dd>
            </dl>

            <div class="buttons-wrap">
                <a id="prev" href="#none" class="button">이전으로</a>
                <button type="button" id="join" class="button primary" onclick="memberJoinAction()" form="joinForm">회원가입</button>
            </div>
            <!--스프링 시큐리티 사용할 경우 기본적으로 CSRF 방어하기 위해 POST방식의 데이터전송에는 CSRF 토큰 값이 있어야 한다.-->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <!--탑버튼-->
            <button onclick="topFunction()" id="topbtn" title="gototop">Top</button>
        </div>
    </form>
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script type="text/javascript" src="/js/signup.js"></script>
    </th:block>
</div>
