<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link th:href="@{/css/signUp.css}" rel="stylesheet">
</th:block>
<div layout:fragment="content">

<form id="joinForm" name="joinForm" action="/members/new" method="get">

    <div class="main1">
        <h2 class="with-border">회원 가입</h2>
        <dl class="">
            <dt>아이디<span id="required">*</span></dt>
            <dd>
                <input id="member_id" name="member_id" class="inputTypeText" placeholder="ID" value="" type="text"
                       maxlength="16">
                <span id="idMsg" class="message error"></span>
            </dd>
        </dl>

        <dl>
            <dt>비밀번호<span id="required">*</span></dt>
            <dd>
                <div id="eyefocus">
                    <i class="fa fa-eye" aria-hidden="true" id=eye onclick="toggle()"></i>
                    <input id="passwd" name="passwd" class="inputTypeText" value="" type="password"
                           placeholder="PASSWORD" maxlength="16">

                    <div id="tooltip">
                        <strong class="txtWarn">※비밀번호 입력 조건</strong>

                        <a href="#none" class="btnClose" onclick="closebtn();" tabindex="-1"> <!--tap사용불가능하게만듦-->

                            <img src="https://img.echosting.cafe24.com/skin/base/common/btn_close_tip.gif"
                                 alt="닫기"></a><!--이미지손상을우려해alt태그로이미지구분-->

                        <ul class="help">
                            <li>-대소문자+숫자+특수문자 조합,8자~15자</li>
                            <li>-입력가능 특수문자</li>
                            <li>-~! @ # $ % ^ * + = -</li>
                            <li>-공백 입력 불가능</li>
                            <li>-연속된 문자, 숫자 사용 불가능</li>
                            <li>-동일한 문자, 숫자를 반복해서 사용 불가능</li>
                            <li>-아이디 포함 불가능</li>
                        </ul>
                    </div>
                </div>
                <!-- 실험용! -->
                <span id="testpw"></span>
            </dd>
        </dl>

        <dl>
            <dt>비밀번호 확인<span id="required">*</span></dt>
            <dd>
                <div id="eyefocus">
                    <i class="fa fa-eye" aria-hidden="true" id="eyes" onclick="toggle()"></i>
                    <input id="user_passwd_confirm" name="user_passwd_confirm" class="inputTypeText" value=""
                           type="password" placeholder="CONFIRM PASSWORD" maxlength="16">
                </div>
                <span id="pwConfirmMsg" class="error"></span>
            </dd>
        </dl>

        <dl>
            <dt id="nameTitel">이름<span id="required">*</span></dt>
            <dd>
                <input id="name" name="name" class="inputTypeText" maxlength="20"> <!--최대문자수30-->
                <!-- 실험용 -->
                <span id="nameMsg"></span>
            </dd>
        </dl>

        <dl>
            <dt>휴대전화<span id="required">*</span></dt>
            <dd id="mobile1">
                <select>
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>
                -
                <input class="mb" id="mobile2" name="mobile[]" maxlength="4" value="" type="text">
                -
                <input class="mb" id="mobile3" name="mobile[]" maxlength="4" value="" type="text">
                <span id="mobileMsg"></span>
            </dd>
        </dl>

        <dl>
            <dt>주소<span id="required">*</span></dt>
            <dd>
                <input type="text" id="zipcode" name="zipcode" size="7" placeholder="우편번호" disabled
                       value=""><!--입력창수정불가능하게disalbed넣음-->
                <input type="button" onclick="openZipSearch();" value="주소검색" id="post"><br>
                <input type="text" id="address" class="inputTypeText" name="address" placeholder="기본주소" disabled
                       value=""><br>
                <input type="text" id="detailaddress" class="inputTypeText" placeholder="나머지 주소">
            </dd>
        </dl>

        <dl>
            <dt>이메일<span id="required">*</span></dt>
            <dd>
                <input type="text" class="inputTypeText" id="e_mail" name="e_mail">
                <span id="emailMsg"></span>
            </dd>
        </dl>

        <div class="buttons-wrap">
            <a id="prev" href="#none" class="button">이전으로</a>
            <button type="button" id="join" class="button primary" onclick="memberJoinAction()">회원가입</button>

        </div>
        <button onclick="topFunction()" id="topbtn" title="gototop">Top</button>
    </div>
</form>
</div>
