<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer>
        <div id="foot">

            <div id="footbox1">
                <div id="footlogo">
                    <a href="/">
                        <img src="../img/logo.png" class="logo">
                    </a>
                </div>
                <div class="footbtn">
                    <button class="QNAbtn">자주 묻는 질문</button>
                </div>
            </div><!--footbox1-->

            <div id="footbox2">
                <a href="/">HOME</a> |
                <a>ABOUT US</a> |
                <a>AGREEMENT</a> |
                <a>PRIVACY POLICY</a> |
                <a>GUIDE</a><br>
                2023 Ditto Coffee Project WebSite
            </div><!--footbox2-->

        </div><!--foot-->
    </footer>
</div>