<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer>
        <div id="foot">
            <div class="footer-top">
                <a href="/">HOME</a><span>|</span>
                <a>ABOUT US</a><span>|</span>
                <a>AGREEMENT</a><span>|</span>
                <a>PRIVACY POLICY</a><span>|</span>
                <a>GUIDE</a><br>
                2023 Ditto Coffee Project WebSite
            </div>
        </div><!--foot-->
    </footer>
</div>