<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="header">
    <header>
        <div id="head">
            <div id="headbox">
                <div id="headlogo">
                    <a href="/">
                        <img src="/img/logo.png" class="logo">
                    </a>
                </div>

                <div class="headmenu">
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="/menu">메뉴</a></li>
                        <li><a href="#">주문</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#">장바구니</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/ask/list">문의게시판</a></li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/item/new">상품등록</a></li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/items">상품관리</a></li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="admin/items/mng">회원관리</a></li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="admin/board/mng">게시판관리</a></li>
                    </ul>
                </div>

                <div class="headbtn" sec:authorize="isAnonymous()">
                    <a href="/members/login"><img src="/img/login.png" class="btn" id="loginbtn" th:onclick="|location.href='@{/members/login}'|">로그인</a>
                    <a><img src="/img/signup.png" class="btn" id="signupbtn">회원가입</a>
                </div>

                <div class="headbtn" sec:authorize="isAuthenticated()">
                    <a href="/members/logout"><img src="/img/login.png" class="btn" id="logoutbtn">로그아웃</a>
                    <a href="/members/mypage"><img src="/img/signup.png" class="btn" id="mypage">마이페이지</a>
                </div>

            </div><!--headbox-->
        </div>
    </header>
</div>