<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="header">
    <header>
        <div id="head">
            <div id="headbox">
                <div id="headlogo">
                    <a href="/">
                        <img src="/img/logo.png" class="logo">
                    </a>
                </div>

                <div class="headmenu">
                    <ul>
                        <a href="/menu"><li>메뉴</li></a>
                        <a href="#"><li>공지사항</li></a>
                        <a href="#"><li>주문</li></a>
                        <a href="#"><li sec:authorize="isAuthenticated()">장바구니</li></a>
                        <a href="/ask/list"><li sec:authorize="isAuthenticated()">문의게시판</li></a>
                    </ul>
                </div>

                <div class="headmenu">
                    <ul>
                        <a href="/admin/item/new"><li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">상품등록</li></a>
                        <a href="/admin/items"><li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">상품관리</li></a>
                        <a href="admin/items/mng"><li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">회원관리</li></a>
                        <a href="admin/board/mng"><li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">게시판관리</li></a>
                    </ul>
                </div>

                <div class="headbtn" sec:authorize="isAnonymous()">
                    <img src="/img/login.png" class="btn" id="loginbtn" th:onclick="|location.href='@{/members/login}'|">
                    <img src="/img/signup.png" class="btn" id="signupbtn">
                </div>

                <div class="headbtn" sec:authorize="isAuthenticated()">
                    <a href="/members/logout"><img src="/img/login.png" class="btn" id="logoutbtn"></a>
                    <a href="/members/mypage"><img src="/img/signup.png" class="btn" id="mypage"></a>
                </div>

            </div><!--headbox-->
        </div>
    </header>
</div>