@charset "UTF-8";
/*ID찾기*/

.idpwFIND {

	width:1280px;
    margin-top:150px;
	margin-left:250px;

}

.idpwWrapper h2 {

	border-bottom:1px solid black;

	padding:30px 0;

}

.idpwWrapper h4 {

	color:rgb(128,128,128);

	font-size:14px;

	padding:25px 0;

}

.idpwWrapper h4,dl {

	border-bottom:1px solid #d5d5d5;

}

.find-wrapper #find3 {

	position:absolute;

	left:0;

	top:38px;

}

.find-wrapper dl {

	position:relative;

	padding:30px 0;

	font-size:14px;

}

.find-wrapper dd {

	padding-left:120px;

}

.member select {
	width:320px;
	height:40px;
	border:1px solid #d5d5d5;
	padding-left:5px;
	background-color:rgb(244,244,244);
}

#find1 {
	width:320px;
	height:40px;
	box-sizing:border-box;
	border:1px solid #d5d5d5;
	padding-left:10px;
}

#find0 {
	position:absolute;
	top:30px;
}

#find2 {
	width:96px;
	height:40px;
	box-sizing:border-box;
	border:1px solid #d5d5d5;
	padding-left:10px;
}

#find4 {
	width:152px;
	height:40px;
	box-sizing:border-box;
	border:1px solid #d5d5d5;
	padding-left:10px;
}

.buttons-wrap {
	text-align:center;
	margin-top:40px;
	margin-bottom:70px;
}

#findIdbtn {
	display:inline-block;
	width:230px;
	height:50px;
	background-color:#222;
	color:#fff;
	text-decoration:none;
	line-height:45px;
	border-radius:2px;
	font-weight:400;
}

#findIdbtn:hover {
	background-color:#FF5029;
}

#ssn_name {
	position:absolute;
	top:38px;
}

#ssn_name2 {
	position:absolute;
	top: 38px;
}


