@charset "UTF-8";

/* 전체설정 */

*{
	margin:0;
	padding:0;
}



html, body, section, div, button, input, select, textarea {
    font-family: 'Noto Sans KR', sans-serif;
}

ul, ol{
	list-style:none;
}

img{
	vertical-align: top;
	border:0;
}

a{
	text-decoration:none;
	color:black;
}

a:hover {
    text-decoration:none;
    color:black;
}

/* 머리 */

#head{
	width: 100%;
	height:110px;
	margin:0 auto;
	padding-bottom: 90px;
    position: fixed;
	top:0;
	background-color:white;
	z-index:10000;
	text-align: center;
}

#headbox{
	margin:0 auto;
	display: flex;
	align-items: center;
}

.logo{
    margin-top:20px;
    margin-left:40px;
	height:70px;
	cursor:pointer;
}

.headmenu{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 100px;

}

.headmenu > ul {
	display: flex;
	width:100%;
}

.headmenu li {
    margin-left:20px;
	width:100px;
	font-size:20px;
	font-weight: 600;
	letter-spacing: 1px;
}

.headbtn{
	width: 300px;
    margin-top: 15px;
    margin-left: auto;
    display: flex;
}

.btn{
	width:70px;
	cursor:pointer;
}

.itemNewContent {
    margin-bottom: 100px;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
}

#foot{
	height: 108px;
	position:relative;
	transform:translateY(100%);
	background-color: #222;
	text-align: center;
}

.footer-top {
    padding-top: 60px;
}

#foot a{
	color:gray;
}

#foot span {
    color:gray;
    margin-left: 10px;
    margin-right: 5px;
}