@charset "UTF-8";
/* 메인1 */
#content1{
    margin-top:70px;
	width:100%;
	height:auto;
}

.bxslider img{
	width:100%;
	position:relative;
}

.bx-pager{
	position: absolute;
	width:100%;
	top:75%;
}

#content2{
	display:flex;
	width:1280px;
	height:270px;
	margin:0 auto;
	justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%; /* 전체 화면 가로 크기에 맞게 설정 */
}

#content2leftbox{
	width:25%;
	height:270px;
	text-wrap:nowrap;
	margin: 0 auto;
	background-color:blue;
}

#content2leftbox > h2{
	margin:35px 0;
	margin-left:30px;
	font-size:30px;
	cursor:pointer;
}

#content2leftbox > h2:hover{
	font-size:45px;
}

#content2rightbox1{
	width:75%;
	height:270px;
	background-color:red;
	display:block;
	margin-right:5px;
}

#content2rightbox2, #content2rightbox3{
	width:75%;
	height:270px;
	display:none;
	margin-right:5px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

#content3{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	position:relative;
	margin:0 auto;
}

#content3 img{
	width: 100%;
	height: 400px;
}

.textloca3 {
	padding: 0 50px;
	position: absolute;
	top: 15%;
}

.content3box1{
	width:48%;
	color:yellow;
	font-weight:bold;
	position:relative;
	padding:0;
}

.content3box1 h1{
	color:white;
}

.content5box1 img{
	width: 100%;
	height: 100%;
}

#content4{
	width:100%;
	height:auto;
	margin:5px 0px 0px 0px;
}

.content4box1 img{
	height:500px;
	width:80%;
}

.content4box1{
	color:yellow;
	font-weight:bold;
	position:relative;
	padding:0;
	width:100%;
	color:black;
	font-size:1.5vh;
	text-align:center;
	align-items:center;
}

.content4box1 h1{
	color:black;
	font-size:2.5vh;
}

.textloca4 {
	padding: 0 5px;
	position: absolute;
	top: 12%;
	width: 100%;
	height: 100%;
	color:black;
}

.content4btn{
	width:150px;
	height:40px;
	border:3px solid black;
	color:black;
	background-color:transparent;
	margin: 15px 5px 10px 0px;
	cursor:pointer;
}

.content4box1 p{
	padding:17px 0 0 0;
}

#content5 {
	height: 300px;
	position:relative;
	display:flex;
	justify-content: center;
}

#content5box1, #content5box2{
	width:25%;
	text-align:center;
	padding:40px 0;
	color:black;
	font-size:1.5vh;
	font-weight:bold;
}

#content5box1 h3, #content5box2 h3{
	color:white;
	font-size:2.0vh;
}

#content5box1 a{
	background: url(../img/imgtest.png);
	background-size: 100% 100%;
	cursor:pointer;
	margin-left:0.5%;
	display:block;
	width:25%;
	position:absolute;
	top:0;
	bottom:0;
	padding:40px 0px;
	text-decoration:none;
	color:black;
}

#content5box2{

}

#content5box3{
	padding:50px 0;
	background-color:aliceblue;
	width:40%;
	float:right;
	padding:20px;
	margin-right:0.5%;
}
#content5box3 a{
	color:black;
	text-decoration:none;
	cursor:pointer;
}

#content5box3 table{
	width:100%;
}

#content5box3 table{
	margin:0;
	padding-bottom:10px;
}

#content5box3 table th:first-child{
	text-align:left;
}

#content5box3 table thead th{
	padding:10px 0;
}

#content5box3 table td:first-child, #content5box3 table th:first-child{width:85%}
#content5box3 table td:nth-child(2), #content5box3 table th:nth-child(2){width:15%}

/*수정중*/
.test55{
	margin-top:10px;
	background-color:skyblue;
	height:50%;
}

/* 탑버튼과 팝업창 */

#topbtn{
	display:none;
	position: fixed;
	bottom: 60px;
	right: 80px;
	z-index: 3;
	border: 1px solid black;
	outline: none;
	background-color:white;
	color:black;
	font-weight:bold;
	font-size:20px;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
}

#popup{
	display:none;
	position:fixed;
	top:100px;
	right:80px;
	width:auto;
	height:auto;
	text-align: center;
	z-index:4;
}

#popupbox{
	position:relative;
}

#popupbox img{
	max-width:100%;
	height:auto;
}

#popupbtn{
	position:absolute;
	bottom:20px;
	right:20px;
	margin-top:10px;
	transform: translateX(-50%);
	border:none;
	cursor:poi
}
/*로그인 모달창*/

.wrapper{
    background-color:white;
    color:#fff;
    width:450px;
    padding:20px 30px 20px 30px; /*위 오른쪽 아래 왼쪽*/
    border-radius:10px;
    border:2px solid rgb(192, 192, 192);
    font-family: "Poppins", sans-serif;
    position:relative;
    margin:0 auto;
    margin-top: 150px;
}

.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
    margin:40px 0; /*top,bottom 30, left,right 0*/
    background:transparent;
}

.input-box input{
    width:80%;
    background:transparent;
    border:none;
    border-radius:15px;
    border:2px solid rgb(0, 0, 0);
    font-size:16px;
    padding:20px 45px 20px 40px; /*위 오른쪽 아래 왼쪽*/
    color:black;
}

.input-box input::placeholder{
    color:rgb(128, 128, 128);
}

.input-box i{
    position:absolute;
    top:57%;
    left:12px;
    transform:translateY(-50%); /*absolute쓰면 translateY로 중앙으로 맞춰준다.*/
    font-size:25px;
    color:rgb(0, 0, 0);
}

.loginfont{
    position:absolute;
    transform:translateY(-50%);/*위아래로움직임*/
    margin-top:-15px;
    color:rgb(0, 0, 0);
    font-size:13px;
    font-weight:bold;
}

.login{
    width:99%;
    height:62px;
    margin-top:10px;
    border-radius:15px;
    border:2px solid rgb(0, 0, 0);
    background:transparent;
    background:none;
    transform:translateY(-25%); /*세로축 위아래로 조정*/
    font-size:22px;
    font-weight:bold;
    color:rgb(0, 0, 0);
}

.login:hover{
    color:#ff5029;
    border:1px solid #ff5029;
}

.wrapper .autologin{
    display:flex;
    justify-content:space-between;
    font-size:13px;
    color:dimgray;
    margin:-5px 0 10px; /* 위,(왼,오),아래*/
}

.autologin label input{
    margin-right:8px;
}

.autologin a{
    text-decoration:none;
    color:dimgray;
    transform: translate(48px, -1px);
}

.autologin a:hover{ /*a태그 마우스오버시 밑줄생김*/
    text-decoration:underline;
}
/*표시용*/
.loginbox{
    display:flex;
    margin:0 auto;
}

.leftLoginBox{
    position:relative;
    left:10px;
    bottom:5px;
}

#signup{
    width:67.5%;
    height:30px;
    border-radius:25px;
    border:2px solid rgb(45, 45, 45);
    background-color:rgb(45, 45, 45);
    color:white;
    font-size:bold;
    cursor:pointer;
}

#signup:hover{ /*회원가입창 클릭시 효과이벤트*/
    background-color:#ff5029;
    border:1px solid #ff5029;
    transition-duration:1s;
}

input[id="cb"] + label{ /*체크박스꾸미기위해 라벨을하나만들어 체크박스와 연결*/
    display:inline-block;
    width:18px;
    height:18px;
    border:2px solid dimgray;
    border-radius:5px;
    cursor:pointer; /*손가락모양커서*/
    margin-left:1px;
}

input[id="cb"]:checked + label{
    background-color:dimgray;
}

#auto{
    transform: translate(-175%,5%); /*좌우로 이동*/
}

#finda{
    transform: translate(-10%,5%);
}

input[id="cb"]{ /*체크박스안보이게*/
    display:none;
}

#closebtn4{
    color:dimgray;
    position:absolute;
    margin-left:450px;
    margin-top:-355px;
}

.hidden{
    display:none;
}

.modal{
    position: relative;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 }

.modal::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*이용약관 모달창*/

.wrapper2 {
    width: 450px;
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-radius: 7px;
    border: 2px solid rgb(192, 192, 192);
    margin:0 auto;
    margin-top: 100px;
    position:relative;
}

.modal2{
    position: relative;
    z-index: 1000;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}

.modal2::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.TosForm div {
    margin-top: 15px;
}

#toptitle {
    text-align: center;
    background-color: white;
    background: none;
    margin-bottom: 20px;
}

#toptitle label {
    font-weight: bold;
    font-size: 13px;
}

#topfont{
    color:black;
}

#Allcheckfont {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
}

input[name="agreements"]+label {
    font-weight: bold;
}

#AllcheckText {
    border: 1px solid dimgray;
    border-radius: 3px;
    height: 75px;
    overflow-y: scroll;
    color: dimgray;
    font-size: 13px;
    text-align: center;
}

#vital {
    color: deepskyblue;
    font-weight: bold;
    font-size: 11px;
}

#AllcheckBox {
    font-size: 13px;
}

#Allchk {
    margin-bottom: 40px;
}

#agreeText {
    padding: 10px 15px 10px 15px;
}

#closebtn2 {
    position: absolute;
    margin-left: 415px;
    transform: translate(150%, -500%);
}

#chkbtn {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 10px 0 15px;
    background-color: rgb(45, 45, 45);
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#chkbtn:hover {
    background-color: #ff5029;
    transition-duration: 1s;
    cursor: pointer;
}

.hidden2 {
    display: none;
}

