@charset "UTF-8";

.content {
   height:800px;
}
.menuImg {
    margin-bottom : 80px;
}

.row {

    width: 1150px;
    margin: 0 auto;
    margin-bottom:40px;
}

.card-body {
    height:190px;
}

.page-link{
    color:black;
}

.page-item.active .page-link {
    background-color:#343a40;
    border-color:#343a40;
}