@charset "UTF-8";

#wrap{
	width:100%;
}

h4 {
	color:rgb(128,128,128);
	font-size:14px;
	padding-top:10px;
}

/*λΈν†µ*/

.content {
    height:600px;
}
#contents{
	width:1550px;
	margin-top:180px;
	margin-left:180px;
}

#MyPage{
	display:flex;
}

#leftPage > h1{
	margin-bottom:15px;
	cursor:pointer;
}

#leftPageMenu > h2{
	margin-bottom: 10px;
}

#leftPage{
	margin-right:25px;
	margin-left:25px;
}

#leftPageMenu{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
}

.chgbtn{
	border:2px solid black;
	background-color: white;
	width:140px;
	height:30px;
	margin-bottom:5px;
	cursor:pointer;
}

#rightPage{
	margin-top: 20px;
    margin-left: 80px;
}

#rightPageMenu{
	display:block;
	position:relative;
}

.profileimg{
	width:50px;
	height:50px;
	border-radius: 50%;
}

#box1, #box2, #box3{
	display:flex;
}

#box3{
    margin-top:15px;
}

.box2-1{
	width:100px;
	height:75px;
	border : 1px solid black;
	text-align: center;
	margin-left: 1px;
	padding-top:25px;
}
.board-h1 {
    font-size:25px;
    border-bottom:1px solid #ebebeb;
    padding-bottom:10px;
    margin-bottom: 50px;
}

table {
	border-collapse: collapse;
    text-align: center;
    margin-left: 170px;
    width: 1200px;
}

.order-table {
    margin:0;
}

.numberPage {
    margin-left:50%;
}

.numberPage li {
    float:left;
}

.search-Input{
    margin-top: 100px;
    margin-left: 33%;
}

.write-button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #222;
}

#searchBtn {
    width: 80px;
    background-color: #222;
    color: white;
}

.write-table button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #222;
}

td, th {
	border: 1px solid black;
	padding: 8px;
	width:200px;
}

.tableTitle{
    width: 250px;
}

#rightPageMenu1{
	display: none;
}

#rightPageMenu1 h2, #rightPageMenu2 h2,#rightPageMenu3 h2,
#rightPageMenu4 h2, #rightPageMenu5 h2 {
	border-bottom:1px solid black;
	padding:0 0 20px 0;
}

.menu2Input {
	display:block;
	width:320px;
	height:40px;
	box-sizing:border-box;
	border:1px solid #d5d5d5;
	padding-left:10px;
}

#zipcode {
	width: 105px;
	height: 45px;
	padding-left:10px;
	border:1px solid #d5d5d5;
}

.rightbtn{
	margin-top:20px;
	margin-right:10px;
	width: 150px;
	height: 50px;
}

#rightPageMenu2{
	display: none;
}

#rightPageMenu3{
	display: none;
}

#rightPageMenu4{
	display: none;
}

#rightPageMenu5{
	display: none;
}

#myPage-contents {
    margin-top:180px;
    margin-left:30px;
}