@charset "UTF-8";

#wrap{
	width:100%;
}

h4 {
	color:rgb(128,128,128);
	font-size:14px;
	padding-top:10px;
}

.brText{
    white-space: pre-line
}

/*몸통*/

.content {
    height:600px;
}
#contents{
	width:1550px;
	margin-top:180px;
	margin-left:180px;
}

#MyPage{
	display:flex;
}

#myPage-contents {
    margin-top:150px;
    margin-left:180px;
    width:1550px;
    height:600px;
}

#showRightPage {
    font-size: 25px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

#leftPage > h1{
	margin-bottom:15px;
	cursor:pointer;
}

#leftPageMenu > h2{
	margin-bottom: 10px;
}

#leftPage{
    display:flex;
	margin-right:25px;
}

#leftPageMenu{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 13px auto;
}

.chgbtn{
	border:2px solid #333;
	background-color: white;
	width:200px;
	height:40px;
	margin-bottom:5px;
	cursor:pointer;
	border:none;
}

.chgbtn:hover, .chgbtn.active {
    background: #333;
    color:white;
}

#rightPage{
    margin-top: 10px;
    margin-left: 80px;
}

#rightPageMenu{
	display:block;
	position:relative;
}

.profileimg{
	width:50px;
	height:50px;
	border-radius: 50%;
}

#box1, #box2, #box3{
	display:flex;
}

#box2, #box3{
    margin-top:15px;
}

.box2-1{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin-left: 1px;
    padding-top: 12px;
}
.board-h1 {
    font-size:25px;
    border-bottom:1px solid #ebebeb;
    padding-bottom:10px;
    margin-bottom: 50px;
}

table {
	border-collapse: collapse;
    text-align: center;
    margin-left: 170px;
    width: 1200px;
}

.order-table {
    margin:0;
}

.numberPage {
    margin-left:50%;
}

.numberPage li {
    float:left;
}

.search-Input{
    margin-top: 100px;
    margin-left: 33%;
}

.write-button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #222;
}

#searchBtn {
    width: 80px;
    background-color: #222;
    color: white;
}

.write-table button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #222;
}

td, th {
	border: 1px solid black;
	padding: 8px;
	width:200px;
}

.tableTitle{
    width: 250px;
}

#rightPageMenu1{
	display: none;
}

#rightPageMenu1 h2, #rightPageMenu2 h2,#rightPageMenu3 h2,
#rightPageMenu4 h2, #rightPageMenu5 h2 {
	border-bottom:1px solid black;
	padding:0 0 20px 0;
}

.menu2Input {
	display:block;
	width:320px;
	height:40px;
	box-sizing:border-box;
	border:1px solid #d5d5d5;
	padding-left:10px;
}

#zipcode {
	width: 105px;
	height: 45px;
	padding-left:10px;
	border:1px solid #d5d5d5;
}

#post{
    width: 80px;
    height: 35px;
    background-color: #333;
    color: white;
}

.myBoard-table{
    margin-left:0;
}

.rightbtn{
	margin-top:20px;
	margin-right:10px;
	width: 150px;
	height: 50px;
	background-color:#333;
	color:white;
}

#rightPageMenu2{
	display: none;
}

#rightPageMenu3{
	display: none;
}

#rightPageMenu4{
	display: none;
	margin-top:10px;
}

#rightPageMenu4 button {
    width:80px;
    height: 30px;
    background-color:#333;
    color: white;
    border:none;
}

.order-table{
    margin-top:30px;
}

#rightPageMenu5{
	display: none;
}

<<<<<<<<< Temporary merge branch 1
=========
#rightPageMenu5 table {
    margin-top:20px;
    margin-left:0;
}

.board-btn {
    width: 100px;
    height: 35px;
    background-color: #333;
    color: white;
}

#commentDetail {
    margin-top:40px;
}

/*수정 게시판*/
.editTitle, textarea{
    width:500px;
}