<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link th:href="@{/css/mainpage.css}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</th:block>

<div layout:fragment="content">
    <div id="body">

        <div id="content1">
            <ul class="bxslider">
                <li><img src="/img/main/mainBanner_202311030929204920.jpg"></li>
                <li><img src="/img/main/mainBanner_202310310805151650.jpg"></li>
                <li><img src="/img/main/mainBanner_202310050334461620.jpg"></li>
                <li><img src="/img/main/mainBanner_202311290451536420.jpg"></li>
                <li><img src="/img/main/mainBanner_202309181002459770.jpg"></li>
            </ul>
        </div>

        <div id="content2">
            <div id="content2leftbox">
                <h2 onclick="chgslide1()">커피</h2>
                <h2 onclick="chgslide2()">음료</h2>
                <h2 onclick="chgslide3()">디저트</h2>
            </div>
            <div id="content2rightbox1">
                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/img/menu/COFFEE/블랙펄카페라떼-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/COFFEE/HOT-카라멜마키아또-450x588.png"></div>
                        <div class="swiper-slide"><img src="/img/menu/COFFEE/바나나커피쉐이크ICED-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/COFFEE/콜드브루라떼-1-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/COFFEE/아이스크림바닐라라떼-450x588.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next" id="swiper-button"></div>
                    <div class="swiper-button-prev" id="swiper-button"></div>
                </div>
            </div>
            <div id="content2rightbox2">
                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/img/menu/BEVERAGE/HOT-녹차라떼-1-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/BEVERAGE/딸기라떼-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/BEVERAGE/ICED-민트초코라떼-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/BEVERAGE/ICED-토피넛라떼-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/BEVERAGE/HOT-레몬얼그레이티-450x588.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next" id="swiper-button"></div>
                    <div class="swiper-button-prev" id="swiper-button"></div>
                </div>
            </div>

            <div id="content2rightbox3">
                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/img/menu/DESSERT/맛카롱딸기크런치-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/DESSERT/크리미슈-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/DESSERT/크룽지-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/DESSERT/빽그램핫도그-450x588.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/menu/DESSERT/황치즈크럼블머핀-450x588.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next" id="swiper-button"></div>
                    <div class="swiper-button-prev" id="swiper-button"></div>
                </div>
            </div>
        </div>

        <div id="content3">
            <div class="content3box1">
                <img src="/img/main/winterMenu.png">
            </div>
        </div>

        <div id="content4">
            <div class="content4box1">
                <img src="/img/main/board.png">
                <div>
                    <ul>

                        <li>
                            <a href="#">
                                <em>공지사항</em>
                                <strong>내용내용내용내용</strong>
                                <span>2023-12-21</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <em>공지사항</em>
                                <strong>내용내용내용내용</strong>
                                <span>2023-12-21</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em>문의게시판</em>
                                <strong>내용내용내용내용</strong>
                                <span>2023-12-21</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>


        <!--수정중!-->
        <div id="content5">
            <div>
                <label>오시는길</label>
            </div>
            <div id="content5box1"></div>
            <div>
                <div id="map" style="width:380px;height:300px;" class="content5box2"></div>
            </div>
        </div>
    </div>

    <!--팝업, 탑버튼, 모달-->
    <div id="ectcontent">
        <div id="popup">
            <div id="popupbox">
                <img src="/img/main/20181130_1_bodyimg_122813.png">
                <button id="popupbtn" onclick="popupClose()">닫기</button>
            </div>
        </div>

        <button onclick="topFunction()" id="topbtn" title="gototop">Top</button>
    </div>
    <!-- Alert Messages -->
    <section th:replace="fragments/alert::alert"></section>
    <th:block layout:fragment="script">
<!--        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=54298c533a76f904048422a758eca8da"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="/js/mainpage.js"></script>
    </th:block>
</div>